.flippant {
	-webkit-transform: perspective(500px) rotateY(0deg);
	-moz-transform: perspective(500px) rotateY(0deg);
	transform: perspective(500px) rotateY(0deg);
}

.flippant-back {
	-webkit-transform: perspective(500px) rotateY(-180deg);
	-moz-transform: perspective(500px) rotateY(-180deg);
	transform: perspective(500px) rotateY(-180deg);
}

.flippant, .flippant-back {
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	transform-style: preserve-3d;

	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	backface-visibility: hidden;

}

.flippant, .flipper {
	-o-transition: all .2s ease-in-out;
	-ms-transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	-webkit-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
}

.flippant.flipped {
	-webkit-transform: perspective(500px) rotateY(180deg);
	-moz-transform: perspective(500px) rotateY(180deg);
	transform: perspective(500px) rotateY(180deg);
}

.flippant-back.flipped  {
	-webkit-transform: perspective(500px) rotateY(0deg);
	-moz-transform: perspective(500px) rotateY(0deg);
	transform: perspective(500px) rotateY(0deg);
}

.flippant-modal-dark, .flippant-modal-light {
	position: fixed;
	margin: 0;
	top: 2.5%;
	left: 2.5%;
	width: 100%;
	height: 100%;
	padding: 10px 15px;
	box-sizing: border-box;
	background: rgba(0,0,0,0.7);
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
	overflow-y: scroll;
}

.flippant-modal-dark, .flippant-modal-dark p {
	color: white;
}

.flippant-modal-light {
	box-shadow: none;
	border: none;
	background: #ddd;
}
